@import ../variables
@import ../mixins


.edit-button
    background: url(/images/icons/edit.svg) center center no-repeat
    background-size: 16px 16px
    position: absolute
    display: block
    text-decoration: none
    width: 40px
    height: 40px
    top: 5px
    right: 5px

.profile-main
    td
        vertical-align: top

        .avatar
            margin-bottom: -13px
        div
            margin-bottom: 5px

            &.city
                font-size: 14px
                padding-left: 20px
                background: url(/images/icons/address.svg) left -2px center no-repeat
                background-size: 18px 18px
            &.open-button-wrapper
                a
                    color: $light-grey5
                    font-size: 12px
                    font-style: italic
            &.about
                color: $dark-blue
                font-size: 12px
                border: 1px solid $dark-blue1
                border-radius: 5px
                padding: 15px
                text-align: left
        &:first-child
            .avatar
                border-radius: 100%
                width: 100px
                height: 100px
            @media (min-width : 400px)
                text-align: center
    &.condensed
        td
            .avatar
                width: 80px
                height: 80px
                margin-bottom: 0
            div
                margin-bottom: 1px
            &:last-child
                padding-left: 10px

.scroller.profile-scroller
    .item
        text-align: center
        vertical-align: top
        margin-right: 25px
        margin-bottom: 15px
        color: $dark-blue

        >div
            &:first-child
                font-size: 20px
                font-weight: 700
                margin-bottom: -5px
            &:last-child
                font-size: 12px
                line-height: 12px

.profile-preferences
    padding-bottom: 100px

    >div
        .text-line-through
            margin-top: 15px
        .tag-list
            margin-top: 10px
            padding-left: 15px
            padding-right: 15px

            .tag
                margin: 0 7px 4px 0

.request-bar
    text-align: center
    padding: 10px 15px 15px
    background: $light-grey
    font-size: 14px
    +box-shadow(0 1px 3px 1px rgba(0, 0, 0, 0.25))

    .text
        margin-bottom: 10px

